.container-navbar{
    background: #4b030f;  

}
.container-img-navbar{
    width: 15%;
    vertical-align: super
}
.container-img-sidebar{
    width: 40%;
    vertical-align: super
}
.container-img-cart{
    width: 20%;
    vertical-align: super
}
.contain{
    background: #4b030f;
    width: 100%;
}
.icon-nav{
    width: 20px;
    height: 20px;
    background-color: #4b030f;
    padding: 0;
}
.margin-nav{
    margin-top: 10px;
}
.button-navbar{
    margin-bottom: 5%; 
    background-color: #4b030f;
    list-style:none;
}
.link{
    list-style:none; 
}
.icon-car{
    background-color: #4b030f;
    color: aliceblue;
    border: #4b030f;
    margin-left: 30px
}
.nav{
    margin-right: -50px;
}
